header {
	text-align:center;
	border: 5px;
}
p {
    font-family: "Abhaya Libre";
	font-size: 22px;
	margin-left: 50px;
	position:relative;
	z-index: 0;
}
img {
	margin-left: 50px;
}
body {
	background-color: "blue";

}
ul {
	list-style-type: none;
	margin-top: 0;
	padding: 0;
	
	overflow: hidden;
	background-color: #333;
	position: -webkit-sticky;
	width:100%;
	top:0;
	z-index: 2;
}
li {
	float: left;

}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.heder{
	font-size = 30px;
} 